.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 50%
    right: 80%
    width: 20%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 26%
    right: 10%
    width: 20%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 61%
    right: 40%
    width: 20%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 500px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal
 
.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white

.banner-principal  
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white  
  
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner-interno.png") !important 

.bg1
  background-color: #DFDFB7
.bg2
  background-color: #F3EAE5
.bg3
  background-color: #873803
  border-radius: 20px
.bg4
  background-color: #ffff
.bg5
  background-color: #F3EAE5
.text-izq
  text-align: left !important
.cajon.color-primario 
  background-color: #E7EEEF
.cajon.color-secundario
  background-color: #E7FCE2
.titulo-segundo:after 
  border-left-color: #873803
.w-card-icon
  width: min-content
  z-index: 1
  align-self: flex-start
  transform: translateY(-4px)
.w-card-text
  position: relative
  padding-left: 40px
  padding-right: 50px
  left: -30px
  top: 8px

.fondot2
  background-image: url('../assets/curso/Tema2/fondot2.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 

